body {
  background-image: url("https://bettysgraphics.neocities.org/images/backgrounds/pattern%20448.jpg");
}

#opener {
  display: grid;
  margin: 50;
  align-content: center;
  font-family: "comic sans ms", "courier";
  color: white;
  background-color: black;
  
}

.scratchcatz {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 40px;
}
#pee {
  display: grid;
  margin: 40;
  align-content: center;
  font-family: "comic sans ms", "courier";
  color: black;
  background-image: url("https://bettysgraphics.neocities.org/images/backgrounds/pattern%20155.gif");
}

#corner {
  grid-column: 1;
  align-self: end;    /* Pushes to bottom */
  justify-self: start;
}

#jump {
  grid-column: 2;
}

#corner2 {
  grid-column: 3;
  align-self: end;    /* Pushes to bottom */
  justify-self: end;
  transform: scaleX(-1);

}

#pyt {
  display: flex;
  rotate: 30;
  align-self: flex-end;
}

#webcam {
  display: grid;
  justify-self: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  min-height: 240px; /* Ensures it takes up space even if empty */
  background-color: #222; /* If it stays black, the element is visible but stream failed */
}

#snapshot {
  display: grid;
  justify-self: center;
}

#capture-btn {
  display: grid;
  font-weight: bold;
  font-family: "courier";
  justify-self: center;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 30px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9Ppkj9ao2ddAj0Ck6M2GcEIKAN_xwWs9C2Q&s');
  color: black;
  border: none;
}

#note {
  display: grid;
  justify-self: center;
  font-family: "comic sans ms", "courier";
  color: white;
  background-color: black;
}
